html {
  font-size: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  background-color: #000;
  padding: 0 3%;
}

h1, h2, h3 {
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

h2, h3 {
  font-weight: normal;
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.title {
  font-weight: normal;
  font-size: 14pt;
}

.artist {
  color: grey;
}

ol {
  padding-inline-start: 2%;
}

li img {
  max-width: 50px;
  max-height: 60px;
}

.text-width {
  width: 233px;
}

.flex-container {
  display: flex;
}

.flex-container>div {
  flex: 1;
}

.flex-li {
  display: flex;
  column-gap: 16px;
  padding: 13px 16px;
  margin-bottom: 5px;
  /* border-bottom: 1px solid grey; */
}

button, input[type=submit] {
  color: #fff;
  /* så lenge vi har tekst her */
  border-radius: 30px;
  height: 60px;
  background: none;
  /* background-color: #000; */
}

.settings-window {
  background-color: rgb(49, 49, 49);
}

.settings-window h2 {
  margin: 0 15%;
}

/* .image-upload>input {
  display: none;
} */

.flex-settings {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.edit-data {
  flex: 4;
  display: flex;
  justify-content: center;
  /* background-color: brown; */
}

.edit-data>div {
  width: 60%;
  /* background-color: darkgreen; */
}

.edit-data>div>* {
  margin-bottom: 10px;
}

.div-containing-close-settings-button {
  flex: 1;
}

.settings-image {
  /* slik at starter på linje med inputs under */
  margin: 0 17%;
  width: 70%;
}

.settings-label {
  margin-left: 5%;
}

.settings-input {
  margin-right: 5%;
}

.settings-button {
  margin: 0 10%;
}
/* 
Arrow classes er basert på
arrows av Chris Coyier på:
https://css-tricks.com/snippets/css/css-triangle/
*/

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgb(172, 172, 172);
  /* background-color: #000; */
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(172, 172, 172);
  /* background-color: #000; */
}

.create-new {
  background-color: rgb(44, 44, 44);
}

input {
  height: 25px;
  font-size: 12pt;
}